{% extends './layout.html'%}
{%block title%} Empleado {%endblock%}

{%block body%}
<h1>Lista Empleados</h1>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#formModal">
    Nuevo Empleado
  </button>
        <table class="table table-responsive table-hover">
            <thead>
              <tr>
                <th>DNI</th>
                <th>NOMBRE</th>
                <th>EMAIL</th>
                <th>FOTO</th>
              </tr>
            </thead>
            <tbody>
                {% for empleado in empleados%}
              <tr>
                <th>{{empleado.0}}</th>
                <td>{{empleado.1}}</td>
                <td>{{empleado.2}}</td>
                <td>{{empleado.3}}</td>
              </tr>
              {%endfor%}
            </tbody>
          </table>

          <div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Nuevo Empleado</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action=""  method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                          <label for="dni" class="form-label">Dni</label>
                          <input type="text" class="form-control" id="dni" >
                        </div>
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nombre" >
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" >
                        </div>
                        <div class="mb-3">
                            <label for="foto" class="form-label">Foto</label>
                            <input type="file" class="form-control" id="foto" >
                        </div>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                      </form>
                </div>
                
              </div>
            </div>
          </div>
{%endblock%}