{% extends './layout.html'%}
{%block title%} Empleado {%endblock%}

{%block body%}
<h1>Lista Empleados</h1>
<div class="container">
        <table class="table table-responsive table-hover">
            <thead>
              <tr>
                <th>DNI</th>
                <th>NOMBRE</th>
                <th>EMAIL</th>
                <th>FOTO</th>
              </tr>
            </thead>
            <tbody>
                {% for empleado in empleados%}
              <tr>
                <th>{{empleado.0}}</th>
                <td>{{empleado.1}}</td>
                <td>{{empleado.2}}</td>
                <td>{{empleado.3}}</td>
              </tr>
              {%endfor%}
            </tbody>
          </table>
    
</div>
{%endblock%}