{% extends './layout.html'%}
{%block title%}Home {%endblock%}

{%block body%}
<div class="container">

  <br>
  <button id="nuevo" type="button" class="btn btn-primary mb-3" data-bs-toggle="modal"
    data-bs-target="#formModalProducto">
    Nuevo Producto
  </button>
  {%with messages = get_flashed_messages()%}
  {%if messages%}
  {% for message in messages %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {%endfor%}
  {%endif%}
  {%endwith%}

  <!--INCIO: Nuevo producto-->
  <div class="modal fade" id="formModalProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nuevo Producto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="container" action="{{url_for('insertarProducto')}}" method="post" enctype="multipart/form-data">
            <div class="row mb-3">
              <div class="col-sm-4">
                <label for="codigo" class="form-label">Codigo Producto</label>
                <input type="text" class="form-control" name="codigo" id="codigo">
              </div>
              <div class="col-sm-8">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="nombre" id="nombre">
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-6">
                <label for="precio_lista">Precio Lista S/.</label>
                <input type="text" class="form-control" name="precio_lista" id="precio_lista">
              </div>
              <div class=" col-sm-6">
                <label for="tamaño">Tamaño</label>
                <input type="number" class="form-control" min="1" max="20" name="tamano" id="tamano">
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-6">
                <select class="form-select" name="tipo_envase">
                  {%for option in listaEnvase%}
                  <option>{{option}}</option>
                  {%endfor%}
                </select>
              </div>
            </div>
            <div class="row mb-3 mt-3">
              <div class="col-sm-12">
                <label for="foto" class="form-label">Foto</label>
                <input type="file" class="form-control" name="foto" id="foto">
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </form>
        </div>

      </div>
    </div>
  </div>
  <!--FIN: Nuevo producto-->
  <div class="row row-cols-2 row-cols-md-4 g-4 mb-3">

    {% for producto in listaProductos%}
    <div class="col">
      <div class="card h-100" id="img_card_header">
        <img width="50" height="50" class=" card-img-top img-thumbnail" src="uploads/{{producto.foto}}">
        <a id="mostrar_detalle" type="button" class="btn btn-primary" data-link-action="quickview"
          data-bs-toggle="modal" data-bs-target="#detalleProducto{{producto.codigo}}">
          <i class="fa-solid fa-magnifying-glass"></i> Vista Previa
        </a>
        <div class="card-body text-center">
          <input type="hidden" value="{{producto.codigo}}">
          <div class="row">
            <div class="col-sm-12">
              <p class="h6">{{producto.nombre}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="h6"><kbd class="bg-dark">S/.{{producto.precio_lista}}</kbd> </p>
            </div>
          </div>
          <div class="row">
            {% if producto.estado == 1 %}
            <div class="col-sm-12 text-center">
              <p class="h6"><kbd class="bg-success">Disponible</kbd> </p>
            </div>
            {% else %}
            <div class="col-sm-12 text-center">
              <p class="h6"><kbd class="bg-warning">Agotado</kbd> </p>
            </div>
            {% endif %}
          </div>

        </div>
      </div>
    </div>
    <!--INCIO:Detalle producto-->
    <div  class="modal fade miModal" data-bs-backdrop="static" id="detalleProducto{{producto.codigo}}" tabindex="-1"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog ">
        <div class="modal-content" id="detalleProducto">
          <input id="codigoProducto" type="hidden" disabled value="{{producto.codigo}}">
          <div id="_alert_personalizada" class="modal-header">
          </div>
          <div class="modal-body">
            <input id="codigoProducto" type="hidden" value="{{producto.codigo}}">
            <div class="card p-1" style="max-width: 540px;">
              <form id="formCarrito" class="row g-0">
                <div class="col-md-5">
                  <img class="card-img-top img-thumbnail" src="uploads/{{producto.foto}}">
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <input type="hidden" name="codigo" value="{{producto.codigo}}">
                    <h5 class="card-title">{{producto.nombre}}</h5>
                    <input id="nombreProducto" type="hidden" name="nombre" value="{{producto.nombre}}">
                    <input type="hidden" name="precio" value="{{producto.precio_lista}}">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                      additional content. This content is a little bit longer.</p>
                    <input type="number" onchange="escucharInput(event)" class="form-control" min="1" id="cantidadTotal"
                      placeholder="Cantidad">
                    <p class="card-text"><small class="text-muted">Añade el producto para comprarlo</small></p>
                    <kbd class="col-sm-2 bg-info">S/.{{producto.precio_lista}}</kbd>
                    {% if producto.estado == 1 %}
                    <kbd class="col-sm-4 bg-success">Producto disponible</kbd>
                    {%else%}
                    <kbd class="col-sm-4 bg-warning">Producto agotado</kbd>
                    {% endif%}
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button id="cerrarModal" type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
         <!-- <button data-bs-target="#ProductoAgregado" onclick="agregarCarrito(event,'{{producto.codigo}}','{{producto.nombre}}','{{producto.precio_lista}}','{{producto.foto}}')" type="button" class="btn btn-primary"><i
                class="fa-sharp fa-solid fa-cart-shopping"></i> Añadir al carrito</button>-->  
            <a class="btn btn-outline-primary" href="/agregarProductoAlCarrito/{{producto.codigo}}"><i
              class="fa-sharp fa-solid fa-cart-shopping"></i> Agregar al carrito</a>
          </div>
        </div>
      </div>
    </div>
    <!--FIN: Detalle producto-->
    {% endfor %}
  </div>

  <br>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="1000">
        <img src="/static/img/slider3.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item " data-bs-interval="1000">
        <img src="/static/img/slider2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item " data-bs-interval="1000">
        <img src="/static/img/slider1.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
{%endblock%}