#mostrar_detalle{
   display: none;
   position: absolute;
   bottom: 42%;
    
}
#img_card_header{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#img_card_header:hover > #mostrar_detalle{
    display: flex;
    transition: 2s;
}
#img_card_header:hover{
    background-color: rgb(190, 199, 151,90%);
}
.img-thumbnail {
    height: 80%;
}
#carrito:hover{
    color: white;
    background-color: orange;
}
#card_lista:hover{
    background-color: rgb(77, 80, 79);
    color: white;
}
#card_lista{
    background-color: rgb(226, 226, 226);
}
#list_items:hover{
    background-color: antiquewhite;
}


