{% extends './layout.html'%}

{%block title%}Carrito{% endblock%}

{%block body%}

<div class="container">
    <table class="table table-hover table-sms">
        <caption>Lista de productos agregados</caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio</th>
            <th scope="col">Total</th>
            <th scope="col">Opcion</th>
          </tr>
        </thead>
        <tbody>
            {% for producto in listaSeleccionados%}
          <tr>
            <td>{{producto.nombre}}</td>
            <td>{{producto.cantidad}}</td>
            <td>S/.{{producto.precio_lista}}</td>
            <td>S/.<kbd class="bg-dark">{{producto.total}}</kbd></td>
            <td> <a href="/eliminarItem/{{producto.codigo}}" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash p-1"></i></a></td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
      <div class="d-flex justify-content-between">
        <a href="{{url_for('mostrarProductos')}}" class="btn btn-outline-dark"><i class="fa-sharp fa-solid fa-arrow-left"></i>Atras</a>
        {% if cantidadSelect ==0 %}
        <button disabled class="btn btn-outline-success"> <i class="fa-sharp fa-solid fa-shop"></i></i> Comprar </button>
        {% else %}
        <button  class="btn btn-outline-success"> <i class="fa-sharp fa-solid fa-shop"></i></i> Comprar </button>
        {%endif%}

      </div>
       

</div>

{%endblock%}