<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/1aa7d7ac13.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
  <title>{%block title%}{% endblock%}</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('iniciarApp')}}">
        <img src="/static/img/logo.png" alt="Bootstrap" width="60" height="40">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
          <li class="nav-item">
            <a class="navbar-brand" aria-current="page" href="{{url_for('iniciarApp')}}">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('mostrarEmpleados')}}">Empleados</a>
          </li>
        </ul>
        <button id="carrito" type="button" class="btn btn-primary" data-bs-toggle="modal"
          data-bs-target="#exampleModal">
          <i class="fa-solid fa-cart-shopping"></i>
          <span class="badge bg-danger rounded-pill">{{cantidadSelec}}</span>
        </button>
        <!--Inicio modal carrito-->
        <!-- Button trigger modal -->

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-fullscreen-xxl-down">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Productos Seleccionados</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form id="contenedorForm" class="modal-body">
                <!--INICIO-->
                <!--
                <div id="items" class="row  text-center align-items-center border-bottom border-dark mb-3">
                  <div id="item_imagen" class="col p-1">
                    <img id="imagen_" width="150px" class="img-thumbnail" src="/uploads/2022093624IAUNTSN6SZA37BPTWR4AZBPZUM.jpg" >
                  </div>
                  <div id="item_precio" class="col p-1">
                    s/.50
                  </div>
                  <div id="item_cantidad" class="col p-1">
                    20
                  </div>
                  <div id="item_total" class="col p-1">
                     s/.50
                  </div>
                  <div id="item_button" class="col p-1">
                    <button id="eliminar_item" class="btn  btn-light"><i class="fa-solid fa-trash"></i></button>
                  </div>
                </div>
               -->
                <!--FIN-->
              </form>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Atras</button>
                <button type="button" class="btn btn-primary">Comprar</button>
              </div>
            </div>
          </div>
        </div>
        <!--fin modal carrito-->

      </div>

    </div>
  </nav>
  {%block body%}

  {%endblock%}
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
    crossorigin="anonymous"></script>

  <!--mis archivos css-->
  <script src="{{url_for('static' , filename='js/base.js')}}"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

</body>

</html>